language: c

sudo: required
dist: trusty

addons:
  apt:
    packages:
      dejagnu

services:
  - docker

script:
- "autoreconf -ivf && ./configure && make && make check && docker build -t travis-docker-test . && docker run --rm=true travis-docker-test"
